@charset "UTF-8";
body{
   background: rgb(64,16,16);
background: linear-gradient(190deg, rgba(64,16,16,1) 80%, rgba(3,47,47,1) 100%);
 }

img{
   text-align: center;
}

 h1 { 
    color: #A62631;
    text-align: center;
 }

 h2{
    color: #A62631;
    text-align: center;
 }

 h3{
    color:  #A62631; 
    text-align: center;
 }

 p{
    text-align: justify;
    text-indent: 20px;
    color: rgb(54, 0, 0);
    background-color: #a62631 ;
    width: 600px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #240909b0; 
   }


 br{
    color: #a62631;
}

 ol{
    color: #a62631;
}

strong {
    color:rgb(54, 0, 0);
}